{{ define "index" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{.Type}}</title>
    <link rel="stylesheet" href="/snmp/assets/css/style.css">
</head>
<body>
    <h1>{{.SystemName}}</h1>
    <h3>IP: {{.IP}} | Версия ПО: {{.Firmware}} | S/N: {{.SN}} {{if eq .Type "Eltex MES"}}| Состояние АКБ: <span class="bg-{{.ColorStatus}}">{{.BatteryStatus}}</span>
        {{if ne .BatteryCharge 255}}| Заряд АКБ:  {{.BatteryCharge}} {{end}}{{end}}| Время работы: {{.Uptime}}</h3>
    <table>
        <thead>
            <tr>
                <th>№</th>
                <th>Speed</th>
                <th>Mode</th>
                <th>Vlan</th>
                <th>Description</th>
                <th>Mac</th>
            </tr>
        </thead>
        <tbody>
        {{range $key, $value := .Ports}}
            <tr>
                <td class="col1">{{$value.Index}}</td>
                <td {{if gt $value.Speed 0}} class="green col2" {{ else }} class="grey col2" {{end}}>{{$value.Speed}}</td>
                <td class="col3">{{$value.Mode}}</td>
                <td class="col4">{{$value.Vlan}}</td>
                <td class="col5">{{$value.Description}}</td>
                <td class="mac-count col6" id="mac_min-{{$key}}" onclick="handlerChangeShownColumn(this)">
                    <span class="amount">{{len $value.Macs}} </span><img src="/snmp/assets/public/open.svg" alt="O">
                </td>
                <td class="macs col6" id="mac_max-{{$key}}" onclick="handlerChangeShownColumn(this)">
                    {{range $i, $mac := $value.Macs}}
                        <div>{{$mac}}</div>
                    {{end}}
                </td>
            </tr>
        {{end}}
        </tbody>
    </table>
    <script src="/snmp/assets/js/script.js"></script>
</body>
</html>
{{ end }}