{{ define "switches" }}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Список коммутаторов Eltex</title>
    <link rel="stylesheet" href="/snmp/assets/css/style.css">
</head>
<body class="switch-list-page">
    <div class="switch-list-layout">
        <h1>Список коммутаторов Eltex</h1>
        <div class="switch-list-form">
            <label for="ips">Добавить IP-адреса</label>
            <textarea id="ips" name="ips" placeholder="172.24.0.1&#10;172.24.0.2">{{.IPInput}}</textarea>
            <button type="button" onclick="handlerAddEltexSwitches()">Добавить в список</button>
        </div>

        <table class="switch-list-table">
            <thead>
                <tr>
                    <th>IP</th>
                    <th>Версия ПО</th>
                    <th>S/N</th>
                    <th>Состояние батареи</th>
                    <th>Заряд батареи</th>
                    <th>Время работы</th>
                    <th>Температура CPU</th>
                    <th>CPU utilization 5sec</th>
                    <th>CPU utilization 1min</th>
                    <th>CPU utilization 5min</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {{range .Switches}}
                <tr>
                    <td><a href="/snmp/eltex/{{.IP}}">{{.IP}}</a></td>
                    <td>{{.Firmware}}</td>
                    <td>{{.SN}}</td>
                    <td class="bg-{{.ColorStatus}}" style="color: #ffffff">{{.BatteryStatus}}</td>
                    <td>{{if ne .BatteryCharge "-"}}{{.BatteryCharge}}%{{else}}{{.BatteryCharge}}{{end}}</td>
                    <td>{{.Uptime}}</td>
                    <td>{{if ne .CPUTemperature "#Ошибка"}}{{.CPUTemperature}}°C{{else}}{{.CPUTemperature}}{{end}}</td>
                    <td>{{if ne .CPUUtilizationFiveSeconds "#Ошибка"}}{{.CPUUtilizationFiveSeconds}}%{{else}}{{.CPUUtilizationFiveSeconds}}{{end}}</td>
                    <td>{{if ne .CPUUtilizationOneMinutes "#Ошибка"}}{{.CPUUtilizationOneMinutes}}%{{else}}{{.CPUUtilizationOneMinutes}}{{end}}</td>
                    <td>{{if ne .CPUUtilizationFiveMinutes "#Ошибка"}}{{.CPUUtilizationFiveMinutes}}%{{else}}{{.CPUUtilizationFiveMinutes}}{{end}}</td>
                    <td>
                        <img class="delete-switch-icon" src="/snmp/assets/public/trash.svg" alt="delete" width="16" onclick="handlerDeleteEltexSwitch('{{.IP}}')">
                    </td>
                </tr>
            {{else}}
                <tr>
                    <td colspan="9">Список IP пока пуст.</td>
                </tr>
            {{end}}
            </tbody>
        </table>
    </div>
    <script src="/snmp/assets/js/script.js"></script>
</body>
</html>
{{ end }}
