SNMP_ADDRESS=localhost
SNMP_PORT=8080

# Communities
SNMP_ELTEX_RO_COMMUNITY=CHANGE_ME
SNMP_DLINK_RO_COMMUNITY=CHANGE_ME
SNMP_RW_COMMUNITY=CHANGE_ME
SNMP_TVBS_RO_COMMUNITY=CHANGE_ME
SNMP_SWITCHES_FILE=CHANGE_ME